/*
GROUPS
*/
QWidget {
    font-size: 8pt;
    font-family: "SansSerif";
    color: #b1b1b1;
    background-color: #323232;
}

QGroupBox { 
    border: 2px groove #323232;
    border-radius: 5px;
    margin-top: 0.5em;  
}

QGroupBox::title {
    padding: 0 3px 0 3px;
    subcontrol-origin: margin;
    subcontrol-position: top left;
    left: 10px; 
}

QGroupBox::flat { 
    border-radius: 0px; 
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

QGroupBox::title::flat {
    padding: 0 3px 0 3px;
    subcontrol-origin: margin;
    subcontrol-position: top left;
    left: 6px; 
}

QGroupBox.attr_main_group {
    font-weight: bold;
}

QGroupBox.attr_sub_group {
    font-style: italic;
}
/*
DOCKS
*/

QDockWidget::title{
    text-align: left;
    border: 2px groove #323232;
    padding-left: 12px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 3px;
}

/*
CUSTOM
*/
ColorSwatch { 
    border: 1px groove #323232;
    border-radius: 4px;
}