/*
Grey Values:

10%:
1a1a1a;

20%:
333333;

30%:
4d4d4d;

40%:
666666;

50%:
808080;

60%:
999999;

70%:
b5b5b5;

80%:
cccccc;

90%:
e6e6e6;

*/

QMainWindow{
    background-color: #323232;
    text-decoration: none;
}

QWidget{
    color: #b1b1b1;
    background-color: #323232;
    /*font-size: 9pt;*/
}

QDockWidget{
    /* affects dock widget title bar */
    font-weight: bold;
    /*font-size: 9pt;*/
}

QDockWidget::title{
    text-align: left;
    border-bottom: 1px solid #252525;
    border-right: 1px solid #252525;
    border-top: 1px solid #616161;
    border-left: 1px solid #616161;
    spacing: 3px; /* spacing between items in the tool bar */
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #616161, stop:1 #323232);
    padding-left: 12px;
    border-radius: 4px;
}

QTabBar{
    /*font-weight: bold;*/
    /*font-size: 11;*/
}

QPushButton.Console{
    border-color: #454545;
    border-style: outset;
    border-width: 1px;
    border-radius: 6px;
    font-weight: bold;
    background-color: #383838;
    min-width: 88px;
    min-height: 20px;
}

QLineEdit{
    background-color: #3a3a3a;
}

QMenuBar.AttributeMenu::item{
    border-width: 1px;
    border-bottom-color: #939393;
    font-weight: bold;
}

QMenuBar{
    background: #363636;
    padding: 1px 1px;
    spacing: 5px; /* spacing between menu bar items */
}

QMenuBar::item{
    padding: 1px 4px;
    background: transparent;
    border-radius: 4px;
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: #707070;
}

QMenu{
    /*font-size: 9pt;*/
    border: 1px solid;
    border-bottom-color: #1f1f1f;
    border-top-color: #333333;
    border-left-color: #585858;
    border-right-color: #1f1f1f;
    background-color: #333333;
    /*box-shadow: 0px 1px 0px 0px #191919;*/
}

QMenu::item {
    padding: 2px 25px 2px 20px;
    border: 1px solid transparent; /* reserve space for selection border */
}

QMenu::item:selected {
    background: rgba(100, 100, 100, 150);
}

QMenu::tearoff {
    /*font-size: 9pt;*/
    border: 1px solid;
    border-bottom-color: #1f1f1f;
    border-top-color: #333333;
    border-left-color: #585858;
    border-right-color: #1f1f1f;
    background-color: #333333;
}

QMenu::indicator {
    width: 13px;
    height: 13px;
}

QMenu::item:disabled {
    color: #646464;
    background: none; /* remove menu highlighting on disabled items */
}

QStatusBar {
    font-family: "Monospace";
    /*font-size: 9pt;*/
}

QScrollBar:horizontal {
  border-color: #646464;
  background-color: #404040;
  height: 15px;  
}

QScrollBar:vertical {
  border-color: #646464;
  background-color: #404040;
  width: 15px;
}

QScrollBar::handle:horizontal {
    background: #646464;
    min-height: 20px;
    border-radius: 2px;
}
QScrollBar::handle:vertical {
    background: #646464;
    min-height: 20px;
    border-radius: 2px;
}

/* background of the scrollbar */
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

/* background of the scrollbar */
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

/* arrow & background */
QScrollBar::right-arrow:horizontal, QScrollBar::left-arrow:horizontal{     
    /* arrow box border */
    border: 1px solid #585858; 
    background: none;
    color: none;
}

QScrollBar::up-arrow, QScrollBar::down-arrow{
    /* green */
    border: 1px solid #585858; 
    background: none;
    color: none;
}
/* arrow button outer */
QScrollBar::add-line:horizontal {
    /* pink */
    border: 1px solid #737373; 
    background: none;
}

/* arrow button outer */
QScrollBar::sub-line:horizontal {
    /* pink ff31cc */
    border: 1px solid #737373; 
    background: none;
}

QTableView {
    selection-background-color: #707070;
    border-radius: 2px;
    border: 1px solid #2e2e2d;

}

QHeaderView::section {
    padding-left: 4px;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #323232, stop: 0.5 #242424, stop:1 #323232);
    color: #d4d4d4;    
    border: .5px solid #323232;
}

QHeaderView::section:checked{
    /* background-color: #707070; */
}

/* style the sort indicator */
QHeaderView::down-arrow {
    image: url(down_arrow.png);
}

QHeaderView::up-arrow {
    image: url(up_arrow.png);
}

ColorSwatch { 
    border: 1px solid #2a2a2a;
    border-radius: 4px;
}

QLabel.ListHeader{
    font-weight: bold;
    /*font-size: 8pt;*/
}

QTextBrowser.Output{
    font-family: "Monospace";
    /*font-size: medium;*/
    background-color: #222222;
}

/*
##################
TABS
##################
*/

QTabWidget::pane { /* The tab widget frame */
    border-top: 1px solid #292929;
}

QTabWidget::tab-bar {
    left: 5px; /* move the tab right 5px */
}

/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabBar::tab {    
    border: 1px solid #292929;
    border-bottom-color: #323232; /* same as the pane color */
    min-width: 8ex;
    /*min-height: 2ex;*/
    /*font-size: 9pt;*/
    /*padding: 2px;*/
    padding-left: 4px;
    padding-right: 4px;
    color: #b5b5b5; /* tab title text color */

}

QTabBar::tab::top{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #434343, stop: 1.0 #343434);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-top: 3px;
}

/* tab inverted (for nested dock widgets) */
QTabBar::tab::bottom{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #343434, stop: 1.0 #434343);
    padding-bottom: 3px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

QTabBar::tab::top.subtab{
    color: #f4ff75;
    background: #657682;
}

/* tab inverted (for nested dock widgets) */
QTabBar::tab::bottom.subtab{
    color: #f4ff75;
    background: #658269;
}


QTabBar::tab:selected, QTabBar::tab:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #707070, stop: 1.0 #646464);
}

QTabBar::tab::bottom:!selected {
    margin-bottom: 2px; /* make non-selected tabs look smaller */
}

QTabBar::tab::top:!selected {
    margin-top: 2px; /* make non-selected tabs look smaller */
}

QGroupBox {
    border: 1px solid #292929;
    color: #949494;
    border-radius: 0px;  
    margin-top: 0.5em;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    left: 10px;
    top: 4px;
}

QGroupBox.AttributeEditor {
    color: #d5d5d5;
    border: 1px solid #292929;
    border-left: 1px solid #505050;
    border-bottom: 1px solid #505050;
    font-weight: bold;
    border-radius: 4px;
}

QListView {
    alternate-background-color: yellow;
}

QHeaderView {
    border: none;
    border-radius: 10px;
}

TableView {
    border: none;
}

QPlainTextEdit.Console {
    font-family: "Monospace";
    background-color: #222222;
}

QGraphicsView {
    background-color: #222222;
    
}

/*

QGroupBox {
    border: 1px solid #444444;
    border-radius: 0px;  
    margin-top: 0.5em;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

QGroupBox::title {
    subcontrol-origin: margin;
    left: 10px;
    padding: 0 3px 0 3px;
    margin-top: 1ex;
}

*/